<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Calvin Cai</title>
</head>
<body>
<div>
    <%- include('../partials/navbar') %>
    <div>About</div>
    <%- include('../partials/footer') %>
</div>
</body>
</html>
