<div class='content-item-container'>
    <div class='header'>Experience</div>
    <div class='content-item experience-container'>
        <p class='experience-description'>
            Helped bring USDC to the Algorand, Stellar, and Solana blockchains. Currently building a high yield interest rate product.        
        </p>
        <div class='experience-job'>
            <div class="job-title">Circle Internet Financial</div>
            <div class="job-role">Software Engineer</div>
            <div class="job-dates">Aug 2020 – Aug 2021 (1 yr)</div>
            <div class="job-role">Software Engineer Co-op</div>
            <div class="job-dates">Jan 2020 – Jun 2021 (6 mo)</div>
        </div>

    </div>
    <div class='content-item experience-container'>
        <p class='experience-description'>
            Developed a service for saving customers’ time by automating firewall software upgrades.        </p>
        <div class='experience-job'>
            <div class="job-title">Cisco Systems</div>
            <div class="job-role">Software Engineer Co-op</div>
            <div class="job-dates">Jan 2019 – Aug 2019 (8 mo)</div>
        </div>
    </div>
</div>

