<div class='footer'>
    
    <div>Calvin Cai, Aug 2021</div>

    <div class='footer-links'>
        <a href='mailto:cai.calvin21@gmail.com'>cai.calvin21@gmail.com</a>
        <span>|</span>
        <a href='https://github.com/Calvin445'>Github</a>
        <span>|</span>
        <a href='https://www.linkedin.com/in/calvin-cai/'>LinkedIn</a>
    </div>

</div>