<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Calvin Cai</title>
    <link href="styles/style.css" rel="stylesheet"/>
</head>
<body>
<div class='container'>
    <%- include('partials/navbar') %>
    <div>Home</div>
    <%- include('partials/footer') %>
</div>
</body>
</html>
